body{
    font-family: monospace;
    margin: 0;
    background-color: #ff6a88;
    background-image: linear-gradient(180deg, #ff6a88 0%, #3EECAC 24%, #ff6a88 49%, #ffe53b 75%, #ff5acd 100%);

}
.start{
    margin-top: 50px;
    margin-bottom: 100px;
}
.center{
    text-align: center;
}
.fsi{
    font-size: xx-large;
}
.fphs{
    margin-bottom: 50px;
}
#ad1{
    width: 40%;
    position: relative;
    left: 10%;
    border-radius: 10%;
}
#ad3{
    width: 40%;
    position: relative;
    left: 50%;
    border-radius: 5%;
}
.imgcont{
    margin-bottom: 100px;
}
li{
    list-style: none;
}
.buttondiv{
    margin-bottom: 50px;
}
p{
    margin-bottom: 25px;
}

#left{
    text-align: right;
    font-size: x-large;
}
#blue{
    color: #5fd2ef;
}
#red{
    color: red;
}
h1.center{
    background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 33%, #2B86C5 66%, #ff0000 100%);
    display: inline;
    position: relative;
    left: 20%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fade 4s ease-in 0s 1000;
}
html{
    scroll-behavior: smooth;
}
@keyframes fade {
    0%{
        opacity: 1;
    }
    5%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }

    30%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }

    80%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
img{
    animation: appear 5s ease 0s 1 ;
}